version: "3"

services:
    maven:
        image: maven:3-openjdk-11
        command: ["mvn", "clean", "install"]
        volumes: 
            - type: volume
              source: /usr/src/lesson7/boxfuse-sample-java-war-hello
              target: /my_app
              volume:
                nocopy: true


