version: "3"

services:
    maven:
        image: maven:3.8.1-openjdk-15
        command: ["mvn", "package", "./boxfuse-sample-java-war-hello/pom.xml"]
        # volumes: maven-repo:/usr/local/myapp

# volumes:
#     maven-repo: {}
    
