version: "3.2"

services:
    maven:
        build: maven/
        volumes: 
            - repo:/usr/local

    tomcat:
        image: tomcat:9.0-jdk8-adoptopenjdk-hotspot
        depends_on:
            - "maven"
        ports:
            - 8080:8080
        volumes: 
            - repo:/usr/local/tomcat/webapps/

volumes:
    repo: