version: "3.2"

services:
    maven:
        image: maven:3-openjdk-11
        volumes: 
            - /usr/src/lesson7/boxfuse-sample-java-war-hello:/my_app
        
        working_dir: /my_app
        command: ["mvn", "clean", "install"]

    tomcat:
        image: tomcat:9.0-jdk8-adoptopenjdk-hotspot
        ports:
            8080:8080
        depends_on:
            - "maven"
        volumes: 
            - /usr/src/lesson7/boxfuse-sample-java-war-hello/target/*.war:/usr/local/tomcat/webapps/hello.war