version: "3"

services:
    maven:
        image: maven:3.8.1-openjdk-15
        command: ["mvn", "package"]
        volumes: ${APPLICATION_ROOT_FOLDER}:/usr/src/lesson7

# volumes:
#     maven-repo: {}
    
