version: "3"

services:
    maven:
        name: my-maven-project
        image: maven:3-openjdk-11
        command: ["mvn", "clean", "install"]
        volumes: /usr/src/lesson7/boxfuse-sample-java-war-hello:/my_app

