version: "3.2"

services:
    maven:
        image: maven:3-openjdk-11
        volumes: 
            - /usr/src/lesson7/boxfuse-sample-java-war-hello:/my_app
        
        working_dir: /my_app
        command: ["mvn", "clean", "install"]
