version: "3.2"

services:
    maven:
        build: maven/
        volumes: 
            - repo:/my_app
        links:
            - tomcat

    tomcat:
        image: tomcat:9.0-jdk8-adoptopenjdk-hotspot
        ports:
            8080:8080
        depends_on:
            - "maven"
        volumes: 
            - repo:/usr/local/tomcat/webapps/

volumes:
    repo: