version: "3.2"

services:
    maven:
        image: maven:3-openjdk-11
        volumes: 
            - type: volume
              source: /usr/src/lesson7/boxfuse-sample-java-war-hello
              target: /my_app
              volume:
                nocopy: true
        
        working_dir: /my_app
        command: ["mvn", "clean", "install"]
                
volumes:
    /usr/src/lesson7/boxfuse-sample-java-war-hello: 
